body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 5;
    padding: 0;
}
.barra-verde {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background-color: #28a745; /* Cor verde */
}

h2 {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4%;
    background-color: #055518; /* Cor verde */
    margin-bottom: 20px;
    color: #333;
    
}

.container {
    max-width: 800px;
    margin-top: 50px ;
    margin: 150px auto;
    
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
}

.coluna {
    flex: 0 0 48%; /* Ajuste o tamanho conforme desejado */
    margin-right: 40px;
}
.coluna label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}
label {
    display: block;
    font-weight: bold;
    color: #333;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}
input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #dcdcdc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"] {
    background-color: #01380e;
    margin-right: 10px;
    margin-top: 10px;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #005716;
}

button[type="button"] {
    background-color: #014b00;
}

.select-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}

.select-wrapper::after {
    content: "\25BC"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

select {
    appearance: none; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #007bff; 
}